{% extends 'base.html.twig' %}

{% block title %}Hello FavorisController!{% endblock %}

{% block body %}
<div class="album py-5">
		<div class="container">
            <h1 class="mb-5">Liste des mes personnages favoris</h1>

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for character in characters %}
				<div class="col">
                    <div class="card" style="width: 18rem;">
                        <a href="{{path('detail', {'id': character.id})}}"><img src="{{character.image}}" class="card-img-top" alt="{{character.name}}"></a>
                        <div class="card-body">
                            <h5 class="card-title">{{character.name}}</h5>
                            <a href="{{path('deleteFav', {'id' : character.id})}}" class="btn btn-danger ">retirer des favoris</a>
                        </div>
                    </div>
				</div>
            {% endfor %}
			</div>
		</div>
	</div>

    
{% endblock %}
